{% extends 'base.html.twig' %}

{% block body %}

<section class="sec1"></section>

<div class="welcome">
   <img class="welcome-img" src="{{ asset('build/images/welcome.jpg') }}" alt="welcome">
</div>
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-md-8" style="text-align: right";>Astreloo est une jeune femme avec une soif de créativité immense. Après de belles années au beaux arts, elle veut maintenant montrer au monde entier ses oeuvres et ainsi donner du bonheur au gens et s'exprimer par divers cannaux artistique. Passionée de cosplay, de graphisme, couture, etc ... C'est sous divers forme qu'elle montre ce dont elle est capable.<br><br>Aujourd'hui elle a décider de montrer ses compétences en développement web. Ainsi elle montre le début d'une trame de site web où elle espère capté l'attention. Passionée de wordpress, elle éspère un jour combiné art et développement web pour créer de superbe site-web.</div>
    <div class="col-6 col-md-4"><img class="square-img" src="{{ asset('build/images/welcome.jpg') }}" alt="welcome"></div>
  </div>
    <div class="row" style="margin-bottom: 3%">
    <div class="col-6 col-md-4"><img class="not-square-img" style="align: left" src="{{ asset('build/images/welcome.jpg') }}" alt="welcome"></div>
    <div class="col-md-8" style="text-align: left";>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet nibh nec mi euismod ullamcorper. Nullam nec dui non lorem pulvinar malesuada. Fusce blandit dolor et blandit pharetra. Vestibulum vel laoreet risus. Donec sed lorem sed orci tempus pharetra. Fusce elementum risus nec urna ultrices, et iaculis augue fringilla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla viverra a orci sed imperdiet. Morbi quis fermentum dui, eu suscipit nisl. Morbi et interdum risus, quis condimentum ex. Vestibulum hendrerit mi nec sagittis viverra. Morbi blandit facilisis justo, eget eleifend lacus suscipit at. Maecenas efficitur fringilla sapien sit amet congue. Proin pharetra nunc vel gravida interdum. </div>
  </div>
  </div>
  <h1 class="animate__animated animate__bounce"%";>Wanna see more ?</h1><br>

  <div class="d-flex justify-content-center">
  <a button type="button" href="{{ path('app_login') }}" class="btn btn-secondary btn-lg btn-block btn-color col-5">Login now</a>
</div>

{% endblock %}