body {
    background-color: lightgray;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    transition: 0.6s;
    z-index: 100000;
}

.welcome-img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-bottom: 5%;
    position: relative;
    background-size: cover;
    margin-top: 4%;
}

.col-6 .col-md-4 {
    margin-top: 4%;
}

.square-img {
    max-width: 100%;
    height: 180px;
    width: 180px /* ie8 */
}

.not-square-img {
    max-width: 100%;
    height: 180px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    float: right;
    margin-top: 3%;
}

.col-6.col-md-4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    text-align: center;
    width: 100%;
    }

footer{
    position: relative;
}

.footer-distributed{
    background-color: #292c2f;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
    margin-top: 80px;
}
     
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
        display: inline-block;
        vertical-align: right;
        width: 100%;
    }
     
.footer-distributed .footer-left{
        width: 40%;
    }
     
.footer-distributed h3{
        color:  #ffffff;
        margin: 0;
        font-family: 'Pacifico', cursive;
        font-size: 66px;
    }
     
.footer-distributed h3 span{
        color:  #4F8A8D;
    }
     
.footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }
     
.footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
    }
     
.footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
     
     
.footer-distributed .footer-center{
        width: 35%;
    }
     
.footer-distributed .footer-center i{
        background-color: #222831;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
     
.footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
     
.footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
    }
     
.footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
     
.footer-distributed .footer-center p a{
        color:  #F8D46D;
        text-decoration: none;;
    }
     
.footer-distributed .footer-right{
        width: 20%;
    }
     
.footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

.btn-color {
    background-color:  #4F8A8D;
    border-radius: 35px;
    border-color:  #4F8A8D;
}

/* Navbar modification */

nav {
position:-webkit-sticky;
position: sticky;
top: 0;
left: 0;
width: 100%;
transition: .5s;
}

.navbar.navcolor {
    background-color: #222831;
}
.nav-link {
    color: rgba(255, 255, 255, 0.5);
}
 .nav-link:hover {
    color: #F8D46D;
    text-shadow: 0 0 3px #EEEEEE;

 }

 .navbar-nav .nav-link.active {
    color: #EEEEEE;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 3px #4F8A8D;
}

#mapid {
    height: 400px;
    margin-top: 5%;
}

textarea.form-control {
    min-height: 200px;
    max-height: 400px;
}

.mona {
    height: 450px;
}

.card-container {
    margin-top: 10%;
    width: 100%;
    justify-content: center;
    display: flex;
}
.card {
    width: 325px;
}

.card-body {
    text-align: center;
}

h5 {
    margin-top: 5%;
}

/*.col-md-8 {
    text-align: right;
}*/