{% extends 'base.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block body %}
    <h1>Gallery</h1>

        {% for gallery in galleries %}

            <img src="{{ gallery.name }}" alt="Picture is dead x_x"></td>
                
        {% else %}
            <p colspan="4">No pictures found ! Sorry :(</p>
        {% endfor %}

{% endblock %}
