{% extends 'base.html.twig' %}

{% block body %}
<div class="card-container">
    <div class="card">
        <div class="card-body">
            <i class="far fa-check-circle fa-7x"></i>
            <h5 class="card-title">Your message has been sent !</h5>
            <p class="card-text">You are gonna be redirected to the home page !</p>
        </div>
    </div>
</div>

<script type="text/javascript">   
    function Redirect() 
    {  
        window.location="https://127.0.0.1:8000/home"; 
    } 
    setTimeout('Redirect()', 4000);   
</script>
{% endblock %}