{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div id="mapid"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
    {{ form_start(form) }}
    <h1> Subject*</h1>
    {{ form_row(form.subject)}}
    <br>
    <h1>Message*</h1>
    {{ form_row(form.message)}}
    {{ form_end(form)}}
    </div>
    <div class="col-6 col-md-4"><img class="mona" src="{{ asset('build/images/mona.png') }}" alt="illustration_morgana"></div>

  </div>
  </div>

{% endblock %}