<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>   
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script> 

        <meta charset="UTF-8">
        <title>{% block title %}PortFOULio{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <header>
        <nav class="navbar navcolor navbar-expand-lg d-flex justify-content-between">
            <div>
                <a class="logo" href="{{path('home')}}"><img src="{{ asset('build/images/Logo.png') }}" alt="Logo" width="40px"></a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            </div>
            </div>
                <div class="navbar-nav">
                <a class="nav-item nav-link navbrand {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
                 {% if app.user %}
                    <a class="nav-item nav-link {% if app.request.attributes.get('_route') == 'gallery' %}active{% endif %}" href="{{ path('gallery') }}">Gallery</a>
                    <a class="nav-item nav-link {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}" href="{{ path('contact') }}">Contact</a>
                    <li><a class="nav-link {% if app.request.attributes.get('_route') == 'app_logout' %}active{% endif %}" href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i></a></li>
                    {% else %}
                    <li><a class="nav-link {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a></li>
                {% endif %}
                </div>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
        {% block footer %}
        
        <footer class="footer-distributed">
 
		<div class="footer-left">
 
		<h3>Astreloo</h3>
 
		<p class="footer-links">
		<a class="nav-item nav-link active" href="{{ path('home') }}">Home</a>
    ·
    {% if app.user %}

		<a href="#">Gallery</a>
	·
        <a href="#">Contact</a>
    ·
        <a class="nav-item nav-link active" href="{{ path('app_logout') }}">Logout</a>

    {% else %}

    <a class="nav-item nav-link active" href="{{ path('app_login') }}">Login</a>
        </p>
    {% endif %}

 
		<p class="footer-company-name">Astreloo &copy; 2020</p>
		</div>
 
		<div class="footer-center">
 
		<div>
		<i class="fa fa-map-marker"></i>
		<p><span>Quelque part en</span> France</p>
		</div>
 
		<div>
		<i class="fa fa-phone"></i>
		<p>+33 123456789</p>
		</div>
 
		<div>
		<i class="fa fa-envelope"></i>
		<p><a href="mailto:support@company.com">andrea.skegro.simplon@gmail.com</a></p>
		</div>
 
		</div>
 
		<div class="footer-right">
 
		<p class="footer-company-about">
		<span>About this website,</span>
	    Portfolio created by Astreloo to show what she can do even if she can't do it.
		</p>
 
		<div class="footer-icons">
 
		<a href="https://discord.gg/ZT4ar56"><i class="fab fa-discord" style="color: #F8D46D";></i></a>
        <a href="https://twitter.com/astreloo"><i class="fab fa-twitter" style="color: #F8D46D";></i></a>
		<a href="https://www.linkedin.com/in/andr%C3%A9a-skegro-827b4b1a1/"><i class="fab fa-linkedin" style="color: #F8D46D";></i></a>
		<a href="https://gitlab.com/LadyRhyme"><i class="fab fa-gitlab" style="color: #F8D46D";></i></a>
 
		</div>
 
		</div>
 
		</footer>
        
        {{ encore_entry_script_tags('app') }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
        {% endblock %}  
</html>
